@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">About me</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<!-- /.row -->
<div class="row">
    <div class="col-lg-8">
        <!-- /.panel -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-clock-o fa-fw"></i>Projects
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <ul class="timeline">
                    <li>
                        <div class="timeline-badge">
                            <i class="fa fa-check"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title"><b>Admin and Customer Webs for Food Shop</b></h4>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    <h5>Member: 01 (Self study project)</h5>
                                    <h5>(11/2022 - 01/2023)</h5>
                                </p>
                                <p>
                                    <h5>This is an app that allows users to control their products, posts, and staffs.</h5>
                                </p>
                                <p>
                                    <h5>Front-end: HTML, Javascript, CSS</h5>
                                    <h5>Backend: C# Asp.net core, Entity framework</h5>
                                    <h5>Database: Sql</h5>
                                </p>
                                <p>
                                    <a href="/">Link Customer Web</a></br>
                                    <a href="/Admin/HomeAdmin">Link Admin Web</a></br>
@*                                    <a href="https://github.com/HoNguyenDuy1601/CoffeeShop/tree/master">Link Github</a>
*@                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge warning">
                            <i class="fa fa-credit-card"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title"><b>COFFEE WEBSITE</b></h4>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    <h5>Member: 01 (Self study project)</h5>
                                    <h5>(01/2022 - 02/2022)</h5>
                                </p>
                                <p>
                                    <h5>This is an app that allows users to add goods to cart, make purchases, store carts and purchased orders, create account, verify login, logout with firebase.</h5>
                                </p>
                                <p>
                                    <h5>Front-end: ReactJS, Javascript, CSS, Tailwindcss</h5>
                                    <h5>Firebase</h5>
                                </p>
                                <p>
                                    <a href="https://honguyenduy1601.github.io/CoffeeShop/">Link Project</a></br>
                                    <a href="https://github.com/HoNguyenDuy1601/CoffeeShop/tree/master">Link Github</a>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge danger">
                            <i class="fa fa-bomb"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title"><b>OFFICE SUPPLIES WEBSITE</b></h4>
                            </div>
                            <div class="timeline-body">
                                <h5>Member: 01 (Self study project)</h5>
                                <h5>(10/2021 - 12/2022)</h5>
                                <p>
                                    <h5>The website interface allows users to add goods to the LocalStorage storage cart.</h5>
                                    <h5>Front-end: Javascript, HTML, CSS</h5>
                                </p>
                                <p>
                                    <a href="https://honguyenduy1601.github.io/NguyenDuyStore">Link Project</a></br>
                                    <a href="https://github.com/HoNguyenDuy1601/NguyenDuyStore">Link Github</a>
                                </p>
                            </div>
                        </div>
                    </li>
@*                    <li class="timeline-inverted">
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Lorem ipsum dolor</h4>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates est
                                    quaerat asperiores sapiente, eligendi, nihil. Itaque quos, alias
                                    sapiente
                                    rerum quas odit! Aperiam officiis quidem delectus libero, omnis ut
                                    debitis!
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge info">
                            <i class="fa fa-save"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Lorem ipsum dolor</h4>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis minus
                                    modi
                                    quam ipsum alias at est molestiae excepturi delectus nesciunt, quibusdam
                                    debitis amet, beatae consequuntur impedit nulla qui! Laborum, atque.
                                </p>
                                <hr>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary btn-sm dropdown-toggle"
                                            data-toggle="dropdown">
                                        <i class="fa fa-gear"></i> <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a href="#">Action</a>
                                        </li>
                                        <li>
                                            <a href="#">Another action</a>
                                        </li>
                                        <li>
                                            <a href="#">Something else here</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="#">Separated link</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Lorem ipsum dolor</h4>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi fuga odio
                                    quibusdam. Iure expedita, incidunt unde quis nam! Quod, quisquam.
                                    Officia
                                    quam qui adipisci quas consequuntur nostrum sequi. Consequuntur,
                                    commodi.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge success">
                            <i class="fa fa-graduation-cap"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Lorem ipsum dolor</h4>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt
                                    obcaecati,
                                    quaerat tempore officia voluptas debitis consectetur culpa amet,
                                    accusamus
                                    dolorum fugiat, animi dicta aperiam, enim incidunt quisquam maxime neque
                                    eaque.
                                </p>
                            </div>
                        </div>
                    </li>*@
                </ul>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bell fa-fw"></i> Contact Info
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="list-group">
                    <h5 class="list-group-item">
                        Date of birth: 16/01/2001
                    </h5>
                    <h5 class="list-group-item">
                        Phone Number: 0877760032
                    </h5>
                    <h5 class="list-group-item">
                        Email:honguyenduy22@gmail.com
                    </h5>
                    <h5 class="list-group-item">
                        Sex: Male
                    </h5>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
        <div class="chat-panel panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-comments fa-fw"></i>
                Skills
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-default btn-xs dropdown-toggle"
                            data-toggle="dropdown">
                        <i class="fa fa-chevron-down"></i>
                    </button>
                    <ul class="dropdown-menu slidedown">
                        <li>
                            <a href="#">
                                <i class="fa fa-refresh fa-fw"></i> Refresh
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-check-circle fa-fw"></i> Available
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-times fa-fw"></i> Busy
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-clock-o fa-fw"></i> Away
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <i class="fa fa-sign-out fa-fw"></i> Sign Out
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <ul class="chat">
                    <li class="left clearfix">
                        <span class="chat-img pull-left">
                            <img src="http://via.placeholder.com/50/55C1E7/fff" alt="User Avatar"
                                 class="img-circle" />
                        </span>
                        <div class="chat-body clearfix">
                            <div class="header">
                                <strong class="primary-font">Back-end</strong>
                            </div>
                            <p>
                                <h5>C#</h5>
                                <h5>Entity, Asp.net Core</h5>
                                <h5>Database: SQL</h5>
                            </p>
                        </div>
                    </li>
                    <li class="left clearfix">
                        <span class="chat-img pull-left">
                            <img src="http://via.placeholder.com/50/FA6F57/fff" alt="User Avatar"
                                 class="img-circle" />
                        </span>
                        <div class="chat-body clearfix">
                            <div class="header">
                                <strong class="primary-font">Front-end</strong>
                            </div>
                            <p>
                                <h5>HTML, CSS, Javascript</h5>
                                <h5>ReactJS, Tailwindcss, TypeScript, Bootstrap</h5>
                            </p>
                        </div>
                    </li>
                    <li class="left clearfix">
                        <span class="chat-img pull-left">
                            <img src="http://via.placeholder.com/50/55C1E7/fff" alt="User Avatar"
                                 class="img-circle" />
                        </span>
                        <div class="chat-body clearfix">
                            <div class="header">
                                <strong class="primary-font">English</strong>
                            </div>
                            <p>
                                <h5>TOEIC certificate: 945 scores (495/495 scores for Listening)</h5>
                                <h5>Be able to read and understand specialized documents in English.</h5>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel .chat-panel -->
    </div>
    <!-- /.col-lg-4 -->
</div>
<!-- /.row -->
<!-- /.container-fluid -->
